$font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
$footerH2: 20px;
$footerP: 16px;
$footerColorH2: #342F2FCC;
$footerColorP: #383232;

@mixin allRights {
  font-family: $font-family;
  font-size: $footerP;
  color: $footerColorP;
}
  
.footer-end-items {
      @include allRights;
}

@mixin footerHeadings {
  font-family: $font-family;
  font-size: $footerH2;
  color: $footerColorH2;
}

.footerH {
  @include footerHeadings;
}