@import url(/css/slideshow.css);
@import url(/css/base.css);

.navbar-1 ul,
nav.navbar-1 {
    display: flex;
}

.nav-cont-item a,
.navbar-1 ul li,
.navbar-1 ul li a {
    text-decoration: none;
    color: #000;
    transition: 250ms;
}

.logo,
.misc {
    position: absolute;
}

nav.navbar-1,
nav.navbar-2 {
    width: 100%;
    z-index: 10;
    top: 0;
}

.links li,
.nav-container {
    text-transform: uppercase;
}

.btn,
nav.navbar-1 {
    background-color: #fff;
}

.btn,
.links li {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    position: fixed;
}

nav.navbar-1 {
    height: 100px;
    align-items: center;
    justify-content: center;
}

.navbar-1 ul li {
    list-style: none;
    padding: 10px;
}

.container a,
.login a,
.mini-container a {
    text-decoration: none;
    color: #383232;
}

.container a:hover,
.navbar-1 ul li:hover {
    transform: translateY(-3px);
}

.Hbbtn:hover,
.container a:hover,
.nav-cont-item a:hover,
.navbar-1 li a:hover,
.navbar-1 li:hover {
    color: red;
    border-color: red;
}

.ol,
ul {
    padding-left: 0;
}

.logo {
    margin-left: 40px;
    left: 0;
}

.Hbbtn i,
.nav-cont-item a {
    font-size: 20px;
}

.misc {
    right: 0;
    top: 0;
    margin-top: 10px;
}

.misc a {
    font-size: 16px;
}

.links li {
    font-size: 20px;
}

.Hbbtn {
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    display: none !important;
}

nav.navbar-2 {
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: #ede9e9;
    margin-top: 100px;
    display: none;
}

.Help-page,
.login {
    flex-direction: column;
}

.nav-container {
    margin: 80px;
}

.footer-containter a,
.nav-container a {
    text-decoration: none;
}

.nav-cont-item {
    list-style: none;
    margin-top: 10px;
    margin-left: 0 !important;
}

.active-menu,
.show {
    display: flex !important;
}

.Dam-meny,
.barn-meny,
.beauty-meny,
.hb-meny,
.herr-meny,
.home-meny {
    display: none;
}

.main-login {
    margin-top: 200px;
    display: flex;
    margin-bottom: 250px;
}

.btn,
.login-inputs input {
    margin-top: 30px;
    padding: 10px;
}

.login {
    display: flex;
    width: 30%;
    margin-left: 70px;
}

.login-inputs input {
    font-size: 16px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #000;
}

.btn,
form {
    width: 100%;
}

.btn,
.container,
.mini-container a {
    border: 1px solid #000;
}

.need-acc h2,
form h1 {
    font-size: 22px;
    font-weight: 500;
}

.login a {
    margin-top: 10px;
    margin-bottom: 50px;
}

.btn {
    font-size: 18px;
}

.need-acc {
    width: 30%;
    margin-left: 20px;
}

.btn:hover,
.mini-container a:hover {
    color: #fff;
    background: rgba(0, 0, 0, .5);
}

.Help-page {
    display: flex;
    margin-bottom: 100px;
}

.Help-top-img {
    display: flex;
    position: relative;
    margin-top: 100px;
}

.Help-top-img img {
    width: 100%;
    height: auto;
}

.help-search {
    position: absolute;
    z-index: 8;
    top: 0;
    margin: 50px;
    padding: 12px;
    width: 38rem;
    font-size: 16px;
    font-weight: 300;
}

.Help-vanlig {
    margin: 60px;
}

.Help-vanlig h1 {
    margin-bottom: 15px;
}

.mini-container a {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    margin: 15px 15px 15px 0;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    box-shadow: 5px 5px 5px gray;
}

.container a {
    margin-top: 10px;
    font-size: 13px;
    transition: 250ms;
    padding: 5px;
}

.h2-help {
    margin-left: 60px;
    margin-bottom: 30px;
}

.container h2 {
    font-size: 20px;
    font-weight: 900;
}

@media screen and (max-width:1018px) {
    .mini-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:970px) {
    .hide-item {
        display: none !important;
    }

    .Hbbtn {
        display: flex !important;
    }

    .help-search {
        width: 70%;
    }

    .help-container {
        gap: 10px;
        flex-flow: row wrap;
    }

    .container {
        margin: 0;
        width: calc(50% - 10px);
        box-sizing: border-box;
    }

    .footer-end,
    .footer-links {
        flex-direction: column;
    }

    .footer-containter {
        margin-bottom: 20px;
    }

    .footer-end {
        align-items: center;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .main-login {
        margin-left: 30px;
    }

    .login,
    .need-acc {
        margin-left: 0;
        width: 45%;
    }
}

@media screen and (max-width:767px) {
    .hidden-main-links {
        display: none !important;
    }

    .active-menu,
    .hb-meny,
    .show {
        height: 110vh !important;
        flex-direction: column;
    }

    .main-login {
        margin-left: 30px;
        flex-direction: column;
    }

    .login,
    .need-acc {
        width: 80%;
    }

    #carouselExampleSlidesOnly {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width:567px) {
    .container {
        width: calc(100% - 10px);
    }

    .footer-end-items {
        align-items: center;
        flex-direction: column;
    }
}