.slideshow {
    margin-top: 150px;
    margin-bottom: 100px;
}

#carouselExampleSlidesOnly {
    margin-left: 25%;
    width: 50%;
    border: 5px solid black;
    border-radius: 15px;
}

.carousel-inner {
    border-radius: 10px;
}